h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: lightgrey;
}

p {
    color: rgb(88, 0, 252);
    background-color: rgb(34, 158, 86);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

#p1 {
    background-color: rgb(29, 211, 105);
    font-style: normal;
    text-decoration: underline;
}

.theksuar {
    text-transform: uppercase;
}