@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.body{
    font-family: 'Bebas Neue', cursive;
}
.container{
    font-family: 'Bebas Neue', cursive;
    width: 640px;
    margin: 0 auto;
}